<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <!-- panel frontal -->
    <section id="front_view">
        <div class="container front_view">
            <div>
                <h1 class="title">Fotovoltnica <span></span></h1>
                <h3><small class="title">Evolucionando la energía, desarrollando Nicaragua <span></span></small></h3>
                <a href="" class="ctz">Cotiza con nosotros</a>
            </div>
        </div>
    </section>
    <!-- Fin del panel frontal  -->
   
    <!-- seccion descripcion y servicios -->
    <section id="services">
        <div class="services container">
            <div class="service-top">
                <h2 class="section-title">Nuestra Mis<span>i</span>ón</h2>
                <div class="misvis">
                <img src="https://image.flaticon.com/icons/png/128/1924/1924606.png" alt="">
                    <p>Brindar un servicio con alta categoría y accesible a la población perteneciente a las zonas rurales y al sector
                        agropecuario, proponiendo una alternativa a las familias para mejorar su calidad de vida y demostrando que los
                        paneles
                        solares tienen una compatibilidad con la agricultura contribuyendo a la conservación del medio ambiente y al
                        desarrollo
                        de Nicaragua.</p>
                </div>
            </div>
            <div class="service-top mt-3">
                <h2 class="section-title">Nuestra Vis<span>i</span>ón</h2>
                <div class="misvis">
                    <img src="https://image.flaticon.com/icons/png/128/2082/2082099.png" alt="">
                    <p>Ser los proveedores número uno en servicios de instalación y ventas de sistemas fotovoltaicos en territorio
                        nicaragüense, con los mejores precios del mercado ofreciendo equipos de calidad.</p>
                </div>
            </div>
            <div class="service-top mt-5">
                <h2 class="section-title">Serv<span>i</span>cios</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quo distinctio a natus aliquid maiores porro, voluptatum tempora harum minima excepturi corporis, ipsum, nam repellendus voluptatibus sapiente? Tenetur, iste obcaecati!</p>
            </div>
            <div class="service-bottom row row-cols-1 row-cols-md-2">
                <div class="service-item col mb-4" style="background-image: url(https://images.pexels.com/photos/159397/solar-panel-array-power-sun-electricity-159397.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);">
                    <h3>(type de type in types)Sistemas para iluminación</h3>
                    <p>(type.comentario)Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nemo odio dolorum tenetur molestias? Ducimus quos animi quo libero? Delectus obcaecati molestiae, dicta maxime tenetur voluptas dolorem. Cupiditate, earum reprehenderit?</p>
                </div>
                <div class="service-item col mb-4" style="background-image: url(https://images.pexels.com/photos/159397/solar-panel-array-power-sun-electricity-159397.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);">
                    <h3>(type de type in types)Sitemas de Respaldo</h3>
                    <p>(type.comentario)Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nemo odio dolorum tenetur
                            molestias? Ducimus quos animi quo libero? Delectus obcaecati molestiae, dicta maxime tenetur voluptas
                            dolorem. Cupiditate, earum reprehenderit?</p>
                </div>
                <div class="service-item col mb-4" style="background-image: url(https://images.pexels.com/photos/159397/solar-panel-array-power-sun-electricity-159397.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);">
                        <h3>(type de type in types)Sistemas de riego</h3>
                        <p>(type.comentario)Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nemo odio dolorum tenetur
                            molestias? Ducimus quos animi quo libero? Delectus obcaecati molestiae, dicta maxime tenetur voluptas
                            dolorem. Cupiditate, earum reprehenderit?</p>
                </div>
                <div class="service-item col mb-4" style="background-image: url(https://images.pexels.com/photos/159397/solar-panel-array-power-sun-electricity-159397.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);">
                        <h3>(type de type in types)Aislada 1kw</h3>
                        <p>(type.comentario)Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nemo odio dolorum tenetur
                            molestias? Ducimus quos animi quo libero? Delectus obcaecati molestiae, dicta maxime tenetur voluptas
                            dolorem. Cupiditate, earum reprehenderit?</p>
                </div>
            </div>
        </div>
    </section>
    <!-- final seccion de servicios -->
    <!-- sección proyectos -->
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h2 class="section-title"><span>Proyectos</span> Recientes</h2>
            </div>
            <div class="all-projects">
                <div class="project-item">
                    <div class="project-info">
                        <h2>Instalacion de 15 paneles solares</h2>
                        <h4>Juigalpa</h4>
                        <p>Con esta instalacion llevamos energia a 3 familias en la comunidad</p>
                    </div>
                    <div class="project-img">
                        <img src="https://nicamisol.com/wp-content/uploads/2018/12/Commercial-Solar-Installation-600x400.jpg" alt="aqui (project.image de project in projects)">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h2>Instalacion de 15 paneles solares</h2>
                        <h4>Juigalpa</h4>
                        <p>Con esta instalacion llevamos energia a 3 familias en la comunidad</p>
                    </div>
                    <div class="project-img">
                        <img src="https://nicamisol.com/wp-content/uploads/2018/12/Commercial-Solar-Installation-600x400.jpg"
                            alt="aqui (project.image de project in projects)">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h2>Instalacion de 15 paneles solares</h2>
                        <h4>Juigalpa</h4>
                        <p>Con esta instalacion llevamos energia a 3 familias en la comunidad</p>
                    </div>
                    <div class="project-img">
                        <img src="https://nicamisol.com/wp-content/uploads/2018/12/Commercial-Solar-Installation-600x400.jpg"
                            alt="aqui (project.image de project in projects)">
                    </div>
                </div>
            </div>
            <div class="service-top mt-5">
                <h2 class="section-title">Beneficios<span> de la energía </span>solar</h2>
                <div class="misvis">
                    <ul>
                        <li class="mt-3">✔️ Es una energía limpia, no requiere ningún tipo de combustible fósil
                            para funcionar </li>
                        <li class="mt-3">✔️ Los sistemas solares son silenciosos, no requieren ruidosos motores </li>
                        <li class="mt-3">✔️ El mantenimiento es muy fácil y de bajo costo </li>
                        <li class="mt-3">✔️ La vida útil de los paneles solares puede superar los 25 años </li>
                        <li class="mt-3">✔️ Recuperas tu inversión al ahorrar en costos de energía eléctrica convencional </li>
                        <li class="mt-3">✔️ Los sistemas son modulares, es decir que puedes iniciar con un sistema pequeño y posteriormente
                            irlo ampliando según tu capacidad de inversión </li>
                    </ul>
                </div>
        </div>   
    </section>
<!-- final seccion de proyectos -->
<!-- seccion about -->
<section id="about">
    <div class="about container">
        <div class="col-left">
            <div class="about-logo">
                <img src="https://i.ibb.co/THNxMYZ/fotovoltnica.png" >
            </div>
        </div>
        <div class="col-right">
            <h2 class="section-title"><span>Acerca de</span> nosotros</h2>
            <p>Nuestros 10 años de experiencia en Nicaragua, nos permiten asesorarte y brindarte los equipos necesarios para que
            inicies a ahorrar energía en tu hogar o negocio. Las marcas que importamos, cuentan con los estándares de calidad
            internacional, de manera que aseguramos su funcionamiento óptimo y garantía.</p>
        </div>
    </div>
</section>
<!-- final about -->
</body>
</html>
