{% extends "inventario/layout.html" %}

{% block title %}
Nuestros sistemas
{% endblock %}

{% block body %}

{% for servicio in servicios %}{% load staticfiles %}

<section id="front_view" style="background-image: url({{servicio.image}})">
    <div id="{{servicio.name}}" class="container front_view">
        <div class="col-6">
            <h3 class="title">{{servicio.name}}<span></span></h3>
        </div>
        <div class="col-6">
            <p class="title" style="font-size: 1.1rem;">{{servicio.comment}}<span></span></p>
        </div>
    </div>
</section>
<div class="container">
    <div class="text-center container row">
        {% for items in sistemas %}
            {% if items.system_type == servicio %}
            <div class="mt-4 col-5" style="margin:20px;">
                <div class="card">{% load staticfiles %}
                    <img src=" {{items.image}}" class="card-img-top" width="200px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><small><b>{{ items.name }}</b></small></h5>
                        {% for item in items.cost.all %}
                        <p><b>Precio:</b> ${{item.amount}}</p>
                        {% if not items.disponibility %}
                        <div class="ribbon-wrapper-green">
                            <div class="ribbon-green">Indisponible</div>
                        </div>
                        {% endif %}
                            <!-- Button trigger modal -->
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal{{ items.id }}">
                          Ver más
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modal{{ items.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title section-title" style="font-size:0.9rem;" id="exampleModalLongTitle">{{items.name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <h5>Descripción:</h5>
                                <p>{{ items.comment }}</p>
                                <h5>Contiene:</h5>
                                {% for articulo in items.items.all %} <ul class="text-left"><li>- {{articulo}} </li></ul>{% endfor %}
                                <h5>Precio:</h5>
                                <h><b>${{item.amount}}</b></p>


                              </div>
                              <div class="modal-footer">
                                <form action="{% url 'cotizar' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{item.amount}}" id="amount" name="amount">
                                    {% for articulo in items.items.all %}<input type="hidden" value="{{articulo}}" id="artic" name="articulos"> {% endfor %}
                                    <input type="hidden" value="{{items.name}}" id="selection" name="selection">
                                    <button type="submit" style="color:black; font-size:0.9rem; "class="text-center btn ctz">GENERAR COTIZACION</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>

            </div>
        {% endfor %}
        {% endif %}
        {% endfor %}

      {% if servicio.name == 'Servicio de instalación y/o mantenimiento' %}
      <div class="misvis">
        <ul>
          <li class="mt-3">✔️ Te brindamos mantenimiento y el mejor servicio técnico para tus sistemas fotovoltaicos</li>
          <li class="mt-3">✔️ Personal técnico capacitado para obras de distintas envergaduras en el area de las energías renovables</li>
          <li class="mt-3">✔️ LLegamos hasta la puerta de tu casa, finca o negocio, no tenemos fronteras dentro de Nicaragua</li>
          <li class="mt-3">✔️ Te brindamos planes de financiamiento con Banpro y Credomatic </li>
          <li class="mt-3">✔️ Si tienes una oferta de negocio pero no cuetas con los recursos energéticos, nosotros te la llevamos</li>
          <li class="mt-3">✔️ Para saber más sobre nuestros servicios contáctanos ahora</li>
        </ul>
      </div>
      <a href="{% url 'contacto' %}" class="ctz mb-5" style="color: black; font-size: 1.5rem;">Cotizar ahora</a>
      {% endif %}
    </div>
</div>

{% endfor %}

{% endblock %}
